<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DirekPansiyon.Properties.Settings.DirekPansiyonConnectionString"
            connectionString="Data Source=LAPTOP-QD8VUNPD\SQLEXPRESS;Initial Catalog=DirekPansiyon;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>